# NOTE: This I2P config file must use UTF-8 encoding
i2np.bandwidth.inboundBurstKBytes=39062
i2np.bandwidth.inboundBurstKBytesPerSecond=1953
i2np.bandwidth.inboundKBytesPerSecond=1903
i2np.bandwidth.outboundBurstKBytes=39062
i2np.bandwidth.outboundBurstKBytesPerSecond=1953
i2np.bandwidth.outboundKBytesPerSecond=1903
i2np.ipv4.firewalled=true
i2np.ipv6.firewalled=false
i2np.laptopMode=true
i2np.ntcp.autoip=false
i2np.ntcp.enable=true
i2np.ntcp.ipv6=false
i2np.udp.addressSources=hidden
i2np.udp.enable=false
i2np.udp.ipv6=false
i2np.upnp.enable=false
router.isHidden=true
router.sharePercentage=50
routerconsole.country=
routerconsole.lang=en
routerconsole.welcomeWizardComplete=true
