# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Nov 29, 2022, 7:40 PM
clientApp.0.args=sam.keys 127.0.0.2 7656 i2cp.tcp.host=127.0.0.2 i2cp.tcp.port=7654
clientApp.0.delay=120
clientApp.0.main=net.i2p.sam.SAMBridge
clientApp.0.name=SAM application bridge
clientApp.0.startOnLoad=false
