# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Nov 29, 2022, 7:40 PM
# NOTE: This I2P config file is altered to disable loading the jetty server when the I2P router starts
# This is to make it easier to maintain a Whonix-specific configuration of I2P. See also:
# https://forums.whonix.org/t/i2p-client-inside-whonix-workstation-issues/15890/35

clientApp.0.args="/home/idk/.i2p/eepsite/jetty.xml"
clientApp.0.delay=30
clientApp.0.main=net.i2p.jetty.JettyStart
clientApp.0.name=I2P webserver (eepsite)
clientApp.0.startOnLoad=false
