# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Nov 29, 2022, 7:41 PM
configFile=/var/lib/i2p/i2p-config/i2ptunnel.config.d/01-Irc2P-i2ptunnel.config
description=IRC tunnel to access the Irc2P network
i2cpHost=127.0.0.2
i2cpPort=7654
interface=127.0.0.2
listenPort=6668
name=Irc2P
option.i2cp.closeIdleTime=1200000
option.i2cp.closeOnIdle=true
option.i2cp.delayOpen=true
option.i2cp.destination.sigType=7
option.i2cp.leaseSetEncType=4,0
option.i2cp.newDestOnResume=false
option.i2cp.reduceIdleTime=600000
option.i2cp.reduceOnIdle=true
option.i2cp.reduceQuantity=1
option.i2p.streaming.connectDelay=1000
option.i2p.streaming.maxWindowSize=16
option.inbound.length=3
option.inbound.lengthVariance=0
option.inbound.nickname=Irc2P
option.outbound.length=3
option.outbound.lengthVariance=0
option.outbound.nickname=Irc2P
option.outbound.priority=15
sharedClient=false
startOnLoad=true
targetDestination=irc.postman.i2p:6667,irc.echelon.i2p:6667
type=ircclient
