# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Nov 29, 2022, 7:41 PM
configFile=/var/lib/i2p/i2p-config/i2ptunnel.config.d/03-I2P webserver-i2ptunnel.config
description=My eepsite
i2cpHost=127.0.0.2
i2cpPort=7654
name=I2P webserver
option.i2cp.destination.sigType=7
option.i2cp.leaseSetEncType=4,0
option.inbound.length=3
option.inbound.lengthVariance=0
option.inbound.nickname=eepsite
option.outbound.length=3
option.outbound.lengthVariance=0
option.outbound.nickname=eepsite
privKeyFile=eepsite/eepPriv.dat
spoofedHost=mysite.i2p
startOnLoad=false
targetHost=127.0.0.2
targetPort=7658
type=httpserver
