# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Nov 29, 2022, 7:41 PM
configFile=/var/lib/i2p/i2p-config/i2ptunnel.config.d/03-smtp.postman.i2p-i2ptunnel.config
description=smtp server
i2cpHost=127.0.0.2
i2cpPort=7654
interface=127.0.0.2
listenPort=7659
name=smtp.postman.i2p
option.i2cp.leaseSetEncType=4,0
option.i2cp.reduceIdleTime=900000
option.i2cp.reduceOnIdle=true
option.i2cp.reduceQuantity=1
option.inbound.length=3
option.inbound.lengthVariance=0
option.inbound.nickname=shared clients
option.outbound.length=3
option.outbound.lengthVariance=0
option.outbound.nickname=shared clients
sharedClient=true
startOnLoad=true
targetDestination=smtp.postman.i2p:25
type=client
