# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Nov 29, 2022, 7:41 PM
configFile=/var/lib/i2p/i2p-config/i2ptunnel.config.d/05-I2P HTTPS Proxy-i2ptunnel.config
description=HTTPS proxy for browsing eepsites and the web
i2cpHost=127.0.0.2
i2cpPort=7654
interface=127.0.0.2
listenPort=4445
name=I2P HTTPS Proxy
option.i2cp.leaseSetEncType=4,0
option.i2cp.reduceIdleTime=900000
option.i2cp.reduceOnIdle=true
option.i2cp.reduceQuantity=1
option.i2p.streaming.connectDelay=1000
option.inbound.length=3
option.inbound.lengthVariance=0
option.inbound.nickname=shared clients
option.outbound.length=3
option.outbound.lengthVariance=0
option.outbound.nickname=shared clients
proxyList=outproxy-tor.meeh.i2p
sharedClient=true
startOnLoad=true
type=connectclient
