# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Nov 29, 2022, 7:41 PM
configFile=/var/lib/i2p/i2p-config/i2ptunnel.config.d/06-gitssh.idk.i2p-i2ptunnel.config
description=I2P Git Repositories SSH Access
interface=127.0.0.2
listenPort=7670
name=gitssh.idk.i2p
option.i2cp.closeIdleTime=1800000
option.i2cp.closeOnIdle=false
option.i2cp.delayOpen=true
option.i2cp.destination.sigType=7
option.i2cp.leaseSetEncType=4
option.i2cp.newDestOnResume=false
option.i2cp.reduceIdleTime=1200000
option.i2cp.reduceOnIdle=true
option.i2cp.reduceQuantity=1
option.inbound.backupQuantity=1
option.inbound.length=3
option.inbound.nickname=gitssh.idk.i2p
option.inbound.quantity=3
option.outbound.backupQuantity=1
option.outbound.length=3
option.outbound.nickname=gitssh.idk.i2p
option.outbound.quantity=3
sharedClient=false
startOnLoad=false
targetDestination=gitssh.idk.i2p
type=client
