## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-apps-config
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, config-package-dev
Homepage: https://github.com/Whonix/anon-apps-config
Vcs-Browser: https://github.com/Whonix/anon-apps-config
Vcs-Git: https://github.com/Whonix/anon-apps-config.git
Standards-Version: 3.9.8

Package: anon-apps-config
Architecture: all
Depends: anon-ws-base-files, kde-baseapps-bin, ${misc:Depends}
Recommends: anon-icon-pack, anon-gpg-tweaks
Replaces: kde-kdm-autologin, anon-gw-kde-startmenu, anon-ws-kde-startmenu
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Combined package for all KDE4 and Plasma 5 modifications
 Most settings take effect for newly created user account onlys, and not
 for existing user accounts.
 .
 Enables Menubar in Dolphin by default.
 .
 Enables passwordless Autologin in sddm by default.
 Useful in virtual machines, because there it makes less
 sense to use a password for desktop login (better used on the host).
 If you are using full disk encryption and are the only user of that
 machine, the password required for full disk encryption is enough and you may
 wish not to have an unnecessary extra login screen for the desktop.
 .
 Deactivates KGpg's first run wizard. Uses hkp://qdigse2yzvuglcix.onion as
 default keyserver. Disables tip of the day. Disables KGpg's systray.
 .
 Double click instead of single click in KDE.
 .
 Deactivates maximize windows when moved to the top.
 In context of anonymity it might be better not to maximize the browser window
 (https://trac.torproject.org/projects/tor/ticket/7255).
 To prevent users from accidentally maximizing their browser window, it is
 better when KDE's feature to maximize windows when moved to the top is
 disabled.
 .
 Deactivates KDE's system sounds.
 .
 Disables KDE graphics effects. Disables some background processes.
 .
 Stream Isolation (proxy) settings for KDE apps for Anonymity Distributions
 Configures global proxy settings, which acts as a fallback if no other proxy
 settings are set, for KDE applications to socks 10.152.152.10:9122.
 Otherwise unconfigured KDE applications would use no proxy settings
 (Transparent Proxying) if the anonymity distribution features a transparent
 proxy.
 Useful to improve stream isolation.
 On the other hand, anonymity distributions not featuring transparent proxying
 should probably not install this package by default, because then unconfigured
 KDE applications should by default not be able to connect.
 .
 Sets Unlimited Scrollback in Konsole.
 .
 Disables klipper clipboard history.
